:root{
    --azul-principal: #00a9d4;
    --azul-alternativo: #2b818c;
    --magenta-principal: #c60052;
    --magenta-alternativo: #ed2860;
    --laranja-escuro: #ff4000;
    --laranja-claro:#e87624;
    --aamarelo-principal: #ffc803;
    --verde--principal: #a7cd2c;
  
  }
/* Estilização Página Institucional */

#about-area2{
 margin-top: 50px;
 overflow-x: hidden;
} 


.text-sobre{
    color: #f9f9f9;
    font-size: 1.1rem;
   text-align: justify;
}
.main-title2{
    color: var(--laranja-escuro);
    margin: 0 0 65px 0;
    font-size: 3rem;
    text-align: center;
}

.about-title{
    font-size: 1.6rem;
    color:  var(--verde--principal);
    text-transform: uppercase;
    font-weight: 700;
}
.img-institucional-container{
    padding-right: 5rem;
    align-self: center;
}
.img-institucional{
    border-radius: 15px;
    box-shadow: 4px 4px 25px var(--laranja-escuro);
    
}

.institucional-content{
    align-self: center;
    
}


.segundo-bloco-institucional{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}

#about-area3{
    margin-top: 5px;
    border-bottom: 5px solid var(--laranja-escuro);
    
}

.about-title3{
    font-size: 1.6rem;
    color:  var(--verde--principal);
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 0.5rem;
    
}

.img-institucional3{    
    border-radius: 15px;
    box-shadow: 4px 4px 25px var(--laranja-escuro); 
    
}

.img-institucional-container3{
    padding-right: 14rem;
    padding-bottom: 5rem;
    
}

.img-institucional-home{
  width: 35vw;
}

#about-area3 p{
   padding-right:   2rem;
   margin-bottom: 50px;
  
}

.container2{
    align-self: center;
    margin-left: 18rem;
}
/* Seção de Apoio */
.section-apoio{
    padding-top: 3rem;
    background-color: #f9f9f9;
}
.apoio-content{
    width: 100vw;
}
.apoio-content h3{
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--laranja-escuro);
}
 
.apoio-content-p{
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
}


/* Responsividade */
@media screen and (max-width: 1100px) {
    .img-institucional-container3 {
        padding-right: 10px;
        /* margin-right: 5px; */
        /* padding-left: 10px; */
        /* padding-bottom: 5rem; */
    }
}


@media screen and (max-width: 460px){
     .main-title2{
        font-size: 1.7rem;

     }
 

    .about-title{
     margin-top: 3rem;
     font-size: 1.4rem;
     padding-left: 20px;
     padding-right: 20px;
    }
    #about-area2 p{
        padding: 20px;
        
    }

    .img-institucional-container{
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    
    .about-title3{
        padding-top: -5px;
        font-size: 1.5rem;
        color:  var(--verde--principal);
        text-transform: uppercase;
        font-weight: 700;
        padding-right: 1rem;
        padding-left: 1.5rem;
    }
    .img-institucional3{    
        border-radius: 15px;
        box-shadow: 4px 4px 25px var(--laranja-escuro);
        
    }
    
    .img-institucional-container3{
        max-width: 230vw;
       padding: 14px;
       margin-top: -2rem;
       margin-right: 12px;
    }

    .container2{
        margin-left: 1rem;
        margin-right: 1rem;
    }

/* Seção de Apoio */
.apoio-content h1{
    padding-left: 2rem;
    padding-right: 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--laranja-escuro);
}
}