


header{
    border-bottom: 5px solid #59238c;
}

.navbar{
    background-color: #fafafa;
    
}
.nav-link{
    color: #59238c;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-link:hover{
    color: #ff7600;
}


.navbar-nav .nav-link.active{
    color: #59238c;
    font-weight: 500;
    font-size: 1.1rem;
   
}

.navbar-nav .nav-link.active:hover{
    color: #ff7600;
    
}

/* css redes sociais header */
.social-part .fa{
    padding-right: 20px;
    font-size: 1.3rem;
   color: #59238c;
}
.social-part .fa:hover{
   color: #ff7600;
}
ul li a{
    margin-right: 20px;
}

body{
    background-color: #363636;
}


.btn-primary{
    cursor: pointer;
    /* width: 150px;
    height: 60px; */
    font-size: 1.1rem;
    background-color: #59238c;
    border: none;
    width: 9rem;
    height: 3rem;
}
.btn-primary:hover{
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-size: 1.1rem;
    background-color: #2bd834;
    border: none;
}
/* Carrosel de Imagens */
.carousel{
    border-bottom: 5px solid #ff7600;
}

.d-md-block{
    display: block!important;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
/* Estilização Conteúdo Home */

#conteiner-content{
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.row{
    display: flex;
    justify-content: space-around;   
}

.text-principal{
    color: #fff;
    text-align: justify;
    margin-left: -90px;
    font-weight: 400;
    font-size: 1.1rem;
    width: 100%;
}

.title-home {
  font-size: 4rem;
  text-align: start;
}
.text-integra{
    font-weight: 600;
    font-size: 5rem;
    color: #8437cc;
}

.text-integra span{
    font-weight: 600;
    font-size: 5rem;
    color: #ff7600;
}

.title-secondary{
    font-size: 2.5rem;
}

.title-secondary span{
    color: #2bd834;
}

#btn-home{
    font-size: 1.1rem;
    width: 9rem;
    height: 3rem;
}

/* Primeira Imagem Home conteúdo */


.img-home1{
    max-width: 145vw;
   padding-top: 8rem;
}

/* Segundo Conteúdo */
.segundo-conteudo{
    background-color: #f8f8f8;
    color: #000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-principal2{
    color: #353535;
    text-align: justify;
    margin-left: 90px;
    font-size: 1.1rem;
    font-weight: 400;
    width: 100%;
    padding-right: 70px;
}

.img-home2{
    margin-left: -9rem;
}

.heading{
    font-size: 4rem;
    font-weight: 600;
  text-align: start;
  color: #8437cc;
}

.title-secondary2{
    font-size: 2.5rem;
    font-weight: 500;
    color: #ff7600;
    
}


.img-home3{
   max-width: 35vw;
}


#btn-home2{
    font-size: 1.1rem;
    width: 9rem;
    height: 3rem;
}

/* Card Informção */
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: #e3c414;
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .cast h3 {
    margin-bottom: .5em;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}

/* Seção MISSÂO VISÂO VALORES */

.mvv{
  padding: 2rem;
  font-size: 1.1rem;
}

.mvv-container{
  display: flex;
  justify-content: space-between;
  }

.title-mvv{
  font-size: 2rem;
  padding-top: 2px;
  color: #8437cc;
}
.mvv-row{
  margin: 30px;
}

.btn-mvv {
  font-size: 1rem;
  margin-left: 2rem;
  padding: 15px;
  border-radius: 10px;
  max-width: 2rem;
  text-decoration: none;
  color: #fff;
}
.btn-mvv:hover{
font-size: 1rem;
margin-left: 2rem;
padding: 15px;
border-radius: 10px;
max-width: 2rem;
text-decoration: none;
color: #fff;
background-color: #2bd834;
}

.circle-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Responsividade */

/* Responsividade Slider */
@media screen and (max-width:368px){   
    .carousel{
        width: 100vw;
    }
}

/* Resposividade conteúdo Home */
  
  /* Estilos específicos para dispositivos menores */
  
  @media screen and (max-width: 992px) {
    .title-home {
      font-size: 24px;
    }
  
    .text-integra {
      font-size: 36px;
    }
  
    .d-md-block{
        display: block!important;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
    }

    .title-secondary {
      font-size: 20px;
    }
  
    .text-principal p {
      font-size: 16px;
    }
  
    .btn {
      font-size: 16px;
    }
  
    .img-home1,
    .img-home2,
    .img-home3 {
      max-width: 300px;
    }
  
    .heading {
      font-size: 24px;
    }
  
    .title-secondary2 {
      font-size: 20px;
    }
  
    .text-principal2 p {
      font-size: 16px;
    }
  }
  
  /* Estilos específicos para dispositivos menores, como celulares */
  
  @media  screen and (max-width: 768px) {
    .title-home {
      font-size: 20px;
    }
  
    .text-integra {
      font-size: 28px;
    }
  
    .title-secondary {
      font-size: 18px;
    }
  
 
    .text-principal p {
      font-size: 14px;
    }
  
    .btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .img-home1,
    .img-home2,
    .img-home3 {
      max-width: 250px;
    }
  
    .heading {
      font-size: 20px;
    }
  
    .title-secondary2 {
      font-size: 18px;
    }
  
    .text-principal2 p {
      font-size: 14px;
    }
  }
  
  /* Estilos específicos para dispositivos menores, como celulares em orientação paisagem */
  
  @media screen and (max-width: 460px) {

.d-block{
    display: none!important;
}

.carousel{
    display: none;
}

    .title-home {
      font-size: 1.2rem;
      padding-left: 7rem;
      width: 100vw;
    }
  
    #conteiner-content{
      margin-top: 5px;
    }
    .text-integra {
      font-size: 2rem;
      text-align: start;
      gap: 0;
      padding-left: 7rem;
      width: 100vw;
    }
    .text-integra span{
        font-size: 2rem;        
        width: 100vw;
      }
  
    .title-secondary {
      font-size: 1.3rem;
      text-align: start;
      padding-left: 7rem;
      width: 100vw;
    }
  
    .text-principal p {
      font-size: 1rem;
      padding-left: 7rem;
      width: 100vw;
    }
  
    .btn-mvv {
      font-size: 1rem;
      margin-left: 2rem;
      padding: 15px;
      border-radius: 10px;
      max-width: 2rem;
      text-decoration: none;
      color: #fff;
  }
  .btn-mvv:hover{
    font-size: 1rem;
    margin-left: 2rem;
    padding: 15px;
    border-radius: 10px;
    max-width: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #2bd834;
}
    .btn {
      font-size: 0.5rem;
      margin-left: 7rem;
    }

    #btn-home{
    font-size: 0.8rem;
    width: 7rem;
    height: 3rem;
    }
  
    #btn-home2{
        margin-left: -3rem;
    }

    .img-home1 {
        width: 75vw;
        padding-bottom: 2px;
        padding-top: 35px;
    }

    
    .img-home2{
      max-width: 105vw;
      padding-left: 6rem;
    }
    .img-home3{
        max-width: 95vw;
        padding-bottom: 2px;
        padding-top: 35px;
      }
  
    .heading {
        margin-top: 20px;
      font-size: 2rem;
      margin-right: 4rem;
      margin-left: -50px;
    }
  
    .title-secondary2 {
      font-size: 1.5rem;
      margin-right: 4rem;
      margin-left: -50px;
    }
  
    .text-principal2 p {
      font-size: 1.1rem;
      margin-right: 4rem;
      margin-left: -50px;
    }
  }