
:root{
  --azul-principal: #00a9d4;
  --azul-alternativo: #2b818c;
  --magenta-principal: #c60052;
  --magenta-alternativo: #ed2860;
  --laranja-escuro: #ff4000;
  --laranja-claro:#e87624;
  --aamarelo-principal: #ffc803;
  --verde--principal: #a7cd2c;

}

.logo{
  width: 9vw!important;
}

header{
    border-bottom: 5px solid var(--laranja-escuro);
    overflow-x: hidden;
}

.navbar{
    background-color: #fafafa;
    
}
.nav-link{
    color: var(--laranja-escuro);
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-link:hover{
    color: var(--azul-principal);
    border-bottom: 2px solid var(--verde--principal);
}


.navbar-nav .nav-link.active{
    color: var(--laranja-escuro);
    font-weight: 500;
    font-size: 1.1rem;
   
}

.navbar-nav .nav-link.active:hover{
    color: var(--laranja-escuro);
    
}

/* css redes sociais header */
.social-part .fa{
    padding-right: 20px;
    font-size: 1.3rem;
   color: var(--magenta-principal);
}
.social-part .fa:hover{
   color: var(--laranja-escuro);
}
ul li a{
    margin-right: 20px;
}

body{
    background-color: var(--azul-principal);
    overflow-x: hidden;
}


.btn-primary{
    cursor: pointer;
    /* width: 150px;
    height: 60px; */
    font-size: 1.1rem;
    background-color: var(--laranja-escuro);
    border: none;
    width: 9rem;
    height: 3rem;
}
.btn-primary:hover{
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-size: 1.1rem;
    background-color: var(--verde--principal);
    border: none;
}
/* Carrosel de Imagens */
.carousel{
    border-bottom: 5px solid var(--laranja-escuro);
}

.d-md-block{
    display: block!important;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
/* Estilização Conteúdo Home */

#conteiner-content{
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.row{
    display: flex;
    justify-content: space-around;   
}

.text-principal{
    color: #fff;
    text-align: justify;
    margin-left: -50px;
    font-weight: 400;
    font-size: 1.1rem;
    width: 100%;
}

.title-home {
  font-size: 4rem;
  text-align: start;
}
.text-integra{
    font-weight: 600;
    font-size: 5rem;
    color: var(--laranja-escuro);
}

.text-integra span{
    font-weight: 600;
    font-size: 5rem;
    color: var(--verde--principal);
}

.title-secondary{
    font-size: 2.5rem;
}

.title-secondary span{
    color: var(--aamarelo-principal);
}

#btn-home{
    font-size: 1.1rem;
    width: 9rem;
    height: 3rem;
}

NEWLESTTER

.newsletters{
  margin-bottom: 30px;
  
}
.needs-validation{
  display: flex;
  padding: 20px;
  padding-left: 150px;
  
}

.title-newsletter{
  text-align: center;
  font-size: 3rem;
  color: var(--magenta-principal);

}
.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0;
  
}
/* .input-group input{   
  margin-right: 10px;
  padding-left: 30px ;
  width: 35px;
} */

.btn-newsletter{
align-self: center;
padding-bottom: 20px;
}

.form-newsletter{
  padding-bottom: 20px;
}

/* Primeira Imagem Home conteúdo */


.img-home1{
    max-width: 145vw;
   padding-top: 8rem;
}

/* Segundo Conteúdo */
.segundo-conteudo{
    background-color: #f8f8f8;
    color: #000;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
}

.text-principal2{
    color: #353535;
    text-align: justify;
    margin-left: 90px;
    font-size: 1.1rem;
    font-weight: 400;
    width: 100%;
    padding-right: 70px;
}

.text-principal2 h2{
 font-size: 4rem;
}

.text-principal-form{
  text-align: justify;
    margin-left: 90px;
    padding-top: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    width: 100%;
    padding-right: 70px;
}

.text-integra-form{
  font-weight: 600;
  font-size: 5rem;
  color: var(--verde--principal);
}
.text-integra-form span{
  font-weight: 600;
  font-size: 5rem;
  color: var(--verde--principal);
}
.title-secondary-form{
  font-size: 2.5rem;
  color: #f9f9f9;
}

.img-home2{ 
    width: 45vw;
}
.img-home4{
  width: 33vw;
}
.heading{
  font-size: 4rem;
   font-weight: 600;
  text-align: start;
  color: var(--laranja-escuro);
}

.title-secondary2{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--aamarelo-principal);
    
}


.img-home3{
   max-width: 35vw;
   
   
}


#btn-home2{
    font-size: 1.1rem;
    width: 9rem;
    height: 3rem;
}

/* Card Informção */
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

.card:hover .details {
    bottom: 0;
}

.details h1,
.details h2 {
    font-weight: 700;
}

.details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

.details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.details .rating i {
    color: var(--aamarelo-principal);
}

.details .rating span {
    margin-left: 0.25em;
}

.details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

.details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

.details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.details .cast h3 {
    margin-bottom: .5em;
}

.details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

.details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.details .cast ul li img {
    width: 100%;
    height: 100%;
}

/* Seção Serviços */

.produtos{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card-body-produtos{
  text-align: center;
  
}

.title-produto{
  color: var(--magenta-principal);
  font-weight: 700;
}

.description{
  text-align: center;
}

.card-body-produtos a{
  margin-bottom: 15px;
}

/* Seção Parceiros */
.slider{
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.title-parceiros{
  margin-top: 6rem;
  font-size: 3rem;
  color: var(--laranja-escuro);
}

.sub-title-parceiros{
  color: var(--magenta-principal);
  margin-bottom: 3rem;
}

@keyframes scroll{
  0%{
    transform: translatex(0);
  }
  100%{
    transform: translateX(calc(-250px * 7));
  }
}

.slider .slide-track{
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide-mark{
  width: 250px;
  height: 100px;
}
.slide-mark img{
  width: 90%;
}



/* Projetos Home */
.product{
  text-align: center;
  margin-bottom: 20px;
}

.card-img-petshop{
  animation: scroll 40s linear infinite;
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  gap: 35px;
  padding: 20px;
}

@keyframes scroll{
  0%{
    transform: translatex(0);
  }
  100%{
    transform: translateX(calc(-250px * 7));
  }
}
.card-img-petshop img{
box-shadow: 1px 1px 10px 1px #000;
border-radius: 15px;
}

.card-img-petshop img:hover{
  box-shadow: 1px 1px 10px 1px var(--verde--principal);
  }

.title-project{
  font-size: 3rem;
  color: var(--laranja-escuro);
}

.btn-project{
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.content-principal{
  border-bottom: 5px solid var(--laranja-escuro);
}
/* Responsividade seção serviços */
@media (max-width: 767px) {
  .produtos {
    justify-content: center;
  }

  .card-body-produtos {
    width: 100%;
  }
}

/* Responsividade Slider */

@media screen and (max-width:368px){   
    .carousel{
        width: 100vw;
    }
}

/* Resposividade conteúdo Home */
  
  /* Estilos específicos para dispositivos menores */
  
  @media screen and (max-width: 1100px) {
    .mvv-row {
      margin: 30px;
      display: flex;
      justify-content: space-between;
      width: 100vw;
  }

    .title-home {
      font-size: 24px;
    }
  
    .text-integra {
      font-size: 36px;
      margin-left: 5rem;
    }
  
    .d-md-block{
        display: block!important;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
    }

    .title-secondary {
      font-size: 20px;
      margin-left: 5rem;
    }
    .segundo-conteudo {
      background-color: #f8f8f8;
      color: #000;
      
  }
    .text-principal p {
      font-size: 16px;
      margin-left: 5rem;
    }
   
    #btn-home{
      margin-left: 5rem;
    }

    .btn {
      font-size: 16px;
    }
  
    .img-home1,
    .img-home2,
    .img-home3 {
      max-width: 300px;
    }
  
    .heading {
      font-size: 24px;
    }
  
    .title-secondary2 {
      font-size: 20px;
    }
     .img-home2{
      margin-left: 0;
     }
    .text-principal2 p {
      font-size: 16px;
    }
  }
  
  /* Estilos específicos para dispositivos menores, como celulares */
  
  @media  screen and (max-width: 768px) {
    .title-home {
      font-size: 20px;
    }
  
    .text-integra {
      font-size: 28px;
    }
  
    .title-secondary {
      font-size: 18px;
    }
  
 
    .text-principal p {
      font-size: 14px;
    }
  
    .btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .img-home1,
    .img-home2,
    .img-home3 {
      max-width: 250px;
    }
  
    .heading {
      font-size: 20px;
    }
  
    .title-secondary2 {
      font-size: 18px;
    }
  
    .text-principal2 p {
      font-size: 14px;
    }
  }
  
  /* Estilos específicos para dispositivos menores, como celulares em orientação paisagem */

  /* CSS para telas de 1300px */

  @media screen and (max-width: 1330px){
  .logo {
      width: 12vw!important;
    }
  }

@media screen and (min-width: 1330px) {
 
  .logo {
    width: 15vw;
}
  .navbar-nav {
    margin-left: auto;
  }
  
  .social-part {
    font-size: 24px;
  }
  
  /* Estilos para o slide */
  #slide .carousel-item {
    height: 500px;
  }
  
  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .title-banner {
    font-size: 36px;
  }
  
  .text-banner {
    font-size: 24px;
  }
  
  /* Estilos para o conteúdo pós banner */
  #conteiner-content {
    padding: 50px 0;
  }
  
  .text-principal {
    margin-bottom: 40px;
  }
  
  .img-home1 {
    max-width: 100%;
    height: auto;
  }
  
  .heading {
    font-size: 36px;
  }
  
  .title-secondary2 {
    font-size: 28px;
  }
  
  .img-home2 {
    max-width: 100%;
    height: auto;
  }
  
  .text-principal2 {
    margin-bottom: 40px;
  }
  
  .img-home3 {
    max-width: 100%;
    height: auto;
  }
}

/* CSS para telas de 1600px */
@media (min-width: 1600px) {
  /* Estilos para o header */
  
  
  .logo {
    height: 100px;
  }
  
  /* Estilos para o slide */
  #slide .carousel-item {
    height: 600px;
  }
  
  .title-banner {
    font-size: 48px;
  }
  
  .text-banner {
    font-size: 30px;
  }
  
  /* Estilos para o conteúdo pós banner */
  #conteiner-content {
    padding: 70px 0;
  }
  
  .heading {
    font-size: 48px;
  }
  
  .title-secondary2 {
    font-size: 36px;
  }
}
  
 /* Responsividade para telas pequenas abaixo  */
@media screen and (max-width: 460px) {

.d-block{
    display: none!important;
}

.carousel{
    display: none;
}

    .title-home {
      font-size: 1.2rem;
      padding-left: 5rem;
      width: 100vw;
    }
  
    #conteiner-content{
      margin-top: 5px;
    }
    .text-integra {
      font-size: 2rem;
      text-align: center;
     
    }
    .text-integra span{
        font-size: 2rem;        
        width: 100vw;
      }
  
    .title-secondary {
      font-size: 1.1rem;
      text-align: center;
    }
  
    .text-principal p {
      font-size: 1rem;
      padding-right: 7rem;
      width: 100vw;
    }
  
    .btn-mvv {
      font-size: 1rem;
      margin-left: 2rem;
      padding: 15px;
      border-radius: 10px;
      max-width: 2rem;
      text-decoration: none;
      color: #fff;
  }
  .btn-mvv:hover{
    font-size: 1rem;
    margin-left: 2rem;
    padding: 15px;
    border-radius: 10px;
    max-width: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--verde--principal);
}
    .btn {
      font-size: 0.5rem;
      margin-left: 7rem;
    }

    #btn-home{
    font-size: 0.8rem;
    width: 7rem;
    height: 3rem;
    }
  
    #btn-home2{
        margin-left: -3rem;
    }

    .img-home1 {
        width: 75vw;
        padding-bottom: 2px;
        padding-top: 35px;
    }

    
    .img-home2{
      max-width: 105vw;
      padding-left: 6rem;
    }
    .img-home3{
        max-width: 75vw;
        padding-bottom: 2px;
        padding-top: 35px;
      }
  
    .heading {
        margin-top: 20px;
      font-size: 2rem;
      margin-right: 4rem;
      margin-left: -50px;
    }
  
    .title-secondary2 {
      font-size: 1.5rem;
      margin-right: 4rem;
      margin-left: -50px;
    }
  
    .text-principal2 p {
      font-size: 1.1rem;
      margin-right: 4rem;
      margin-left: -50px;
    }
  }